<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anbo.checkbooktesting" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CostRecordingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchEntryActivity"
            android:label="@string/title_activity_search_entry" >
        </activity>
        <activity
            android:name=".EntryCollectionViewActivity"
            android:label="@string/title_activity_entry_collection_view" >
        </activity>

        <service
            android:name=".SqlDBInteractions.CheckbookService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
